@import ../../../../styles/globals
@import ./_circle/button_circle
@import ./_clear-gray/button_clear-gray
@import ./_clear-primary/button_clear-primary
@import ./_green/button_green
@import ./_long/button_long
@import ./_primary/button_primary
@import ./_secondary/button_secondary
@import ./_transparent/button_transparent

.button
    border-radius: 22px
    vertical-align: middle
    border: 1px solid $main-light
    cursor: pointer
    text-align: center
    .button__text
        margin-inline-start: 1em
        margin-inline-end: 1em
