@import ../../../../styles/globals

.dropdown_default
    border-radius: 2px
    border: 1px solid $main
    box-sizing: border-box
    &__text
      border: none
      border-bottom: 1px solid $main
      border-radius: 2px 2px  0  0
      input
        border: none
        height: inherit
