@import ../../../../styles/globals

.datetime
    &__start-range
        margin-right: 20px
        width: 150px

    &__end-range
        width: 150px

    &__head
        align-items: center
        justify-content: space-around
    
    &__body
        display: grid
        grid-template-columns: repeat(7, 40px [col-start])
        grid-template-rows: repeat(7, 40px [col-start])
        padding: 0px 20px 20px
