@import ./globals

body
    font-style: normal

h1
    font-family: Quicksand
    font-weight: bold
    font-size: 24px
    line-height: 30px
    color: $dark

h2
    font-family: Quicksand
    font-weight: bold
    font-size: 19px
    line-height: 24px
    color: $dark

h3
    font-family: Montserrat
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: $dark

p, span
    font-family: Montserrat
    font-weight: normal
    font-size: 14px
    line-height: 24px

    margin-block-start: 0;
    margin-block-end: 0;