.button_long
  display: flex
  flex-flow: row wrap
  width: 280px
  padding: 0 20px
  justify-content: center
  align-items: center
  .button__text
    flex-grow: 1
    justify-content: center

  .arrow
    color: white
