@import ../../../../../styles/globals
@import ../__popup/datetime__popup

.datetime__range-picker
    width: 320px

    .datetime__range
        background: $gradient-primary-opacity
        border-radius: 0
        color: $main
            

.table
    &__head
        color: $primary
        height: 100%
        width: 100%
        display: flex
        text-align: center
        justify-content: center
        align-items: center        
    &__item
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        text-align: center
        align-items: center    
        font-size: 12px
        color: $main
