@import ../../../styles/globals

.advantage
    width: 280px

    &__name
        font-weight: bold
    
    &__divider
        margin-top: 20px
        margin-bottom: 20px
    
    &__row
        justify-content: center
    
    &__icon
        background: $gradient-primary
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 48px