@import ../../../../styles/globals

.button_like
    background: #FFFFFF
    display: inline-flex
    align-items: center
    color: $main-light
    min-width: 40px
    height: 20px
    padding: 0
    .heart
        height: 100%
        min-width: 20px
        display: flex
        align-items: center
        justify-content: center
        font-size: 10px

    .button__text
        margin: 0
        font-size: 10px
        line-height: 12px
        margin-block-start: 0
        margin-block-end: 0
        color: $main-light

.button_like_clicked
  color: $primary
  border: 1px solid $primary
  .button__text
    color: $primary
