@import ../../../../styles/globals

.select
    position: relative
    width: 320px
    height: 44px

    select
          display: inline-block
          width: 100%
          background: none
          border: 1px solid #ccc
          appearance: none
          height: inherit

    &:after
        font-size: 24px
        font-family: 'Material Icons'
        content: "expand_more"
        display: inline-flex
        height: 44px
        width: 44px
        align-items: center
        justify-content: center
        pointer-events: none
        position: absolute
        right: 0
        color: $main
