@import ../../../../styles/globals

.checkbox
  input
    position: absolute
    z-index: -1
    opacity: 0
    margin: 10px 0 0 7px

  &__text
    position: relative
    padding: 0 0 0 30px
    cursor: pointer
    color: $main
    &:before
      content: ''
      position: absolute
      top: -3px
      left: 0
      width: 20px
      height: 20px
      border: 1px solid $main-light
      border-radius: 4px
      background: #FFF

    &:after
      content: ''
      position: absolute
      top: 2px
      left: 6px
      width: 10px
      height: 12px
      background: url('./check-mark.svg')
      opacity: 0
      transition: .2s

.checkbox input:checked + .checkbox__text:after
  opacity: 1

