@import ../../../../styles/globals

.dropdown
  margin-top: 10px
  box-sizing: border-box
  width: 266px
  &__expand
    height: 44px
    width: 44px
  &__button
    border: 1px solid $main-light
    height: 30px
    width: 30px

  &__row
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 15px
    padding-right: 7px

    .dropdown__controls
      display: flex
      width: 92px
      align-items: center
      justify-content: space-between
