@import ../../../../../styles/globals

.datetime__day
    &_today
        background: $gradient-green
        border-radius: 50%
        color: white
        font-weight: bold       
    &_old, &_new
        color: $main-light    

    &_active
        background: $gradient-primary
        border-radius: 50%
        color: white
        font-weight: bold

    &_start:not(&_end)
        position: relative
        &::before
            content: ''
            position: absolute
            width: 50%
            right: 0
            height: 100%
            background: $gradient-primary-opacity 

    &_end:not(&_start)
        position: relative            
        &::before
            content: ''
            position: absolute
            width: 50%
            left: 0
            height: 100%
            background: $gradient-primary-opacity 