@import ../../../../styles/globals
    
.slider-container
    width: 266px
    .slider
        &__track
            height: 6px !important
            border: 1px solid $main-light !important
            box-sizing: border-box !important
            border-radius: 3px !important
            
            &_highlighted
                background: $gradient-green !important
                height: 6px !important
                border: none !important

        &__handle
            height: 12px !important
            width: 12px !important
            background: $gradient-green !important
            border: 2px solid white !important
            top: 50%
            transform: translateY(-50%);        
        