@import ../../../../../styles/globals

.datetime__popup
    margin-top: 6px
    border: 1px solid $main
    border-radius: 4px
    transition: .5s ease
    &_open
        display: block
    
    &_hidden
        display: none

    .arrow_back
        color: $primary
    
    .arrow_forward
        color: $primary