@import ../../../../styles/globals

.radio
  input
    position: absolute
    z-index: -1
    opacity: 0
    margin: 10px 0 0 7px

  &__text
    position: relative
    padding: 0 0 0 30px
    cursor: pointer
    color: $main

    &:before
      content: ''
      position: absolute
      top: -3px
      left: 0
      width: 20px
      height: 20px
      border: 1px solid $primary
      border-radius: 50%
      background: #FFF

    &:after
      content: ''
      position: absolute
      top: 2px
      left: 5px
      width: 12px
      height: 12px
      border-radius: 50%
      background: $gradient-primary
      opacity: 0
      transition: .2s
  &_checked
      .radio__text
          color: $main-dark

.radio input:checked + .radio__text:after
  opacity: 1
  color: $primary

